body {
  font-family: 'Righteous', cursive;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
