.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 75vw;
  border: solid;
}

.navbar h3 {
  margin-left: 5vw;
}

.navbar ul {
  display: flex;
  width: 17vw;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin-right: 10vw;
}

.navbar a {
  text-decoration: none;
  padding: 8px;
}

.navbar a:hover{
  color: orange;
  background-color: white;
}

.navbar a {
  background-color: orange;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 20px;
}
