.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 75vw;
}

.navbar ul {
  list-style: none;
  text-decoration: none;
  align-items: center;
}

.navbar a {
  background-color: orange;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 20px;
}
