.home-content {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  width: 75vw;
  font-size: 20px;
  height: 90vh;
  justify-content: space-between;
}

.content p {
  text-align: center;
  width: 50vw;
}

.options {
  display: flex;
  flex-direction: row;
  height: 30vh;
  justify-content: space-between;
  width: 35vw;
  align-items: center;
  margin-top: 0;
}

.sign-in {

}

.sign-up {
  display: flex;
  justify-content: center;
}

.sign-up button {
  width: 15vw;
  height: 10vh;
  background-color: orange;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.home-text {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
  margin-top: 5vh;
  border: solid;
  border-radius: 25px;
}

.sign-up button:hover{
  color: orange;
  background-color: white;
}
