.in-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  width: 75vw;
  height: 90vh;
  font-size: 20px;
}

.in-out-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 5vh;
  align-items: center;
}

.in-out-buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
  margin-top: 10vh;
}

.in-out-buttons button {
  width: 15vw;
  height: 10vh;
  background-color: orange;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.in-out-buttons button:hover{
  color: orange;
  background-color: white;
}
