.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  width: 75vw;
  font-size: 20px;
}

.profile-content form {
  height: 60vh;
  text-align: center;
}

.profile-lists {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#profile-initial {
  color: darkgrey;
}
