.restaurant-list-container {
  display: flex;
  flex-direction: column;
}

.restaurant-list {
  display: flex;
  justify-content: center;
  width: 60vw;
  align-items: center;
  float: left;
  list-style: none;

}

.restaurant-list ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;height: 50vh;
  background-color: orange;
}

.restaurant-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
}

.restaurant-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.restaurant-button button {
  width: 30vw;
  height: 8vh;
  background-color: orange;
  color: white;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 20px;
  margin: 5vh;
}

.restaurant-button button:hover{
  color: orange;
  background-color: white;
}

/* .restaurant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  align-items: center;
  float: left;
  list-style: none;
} */



/* .li {
  position: absolute;
    padding: 20px 50px 0px 30px;
    color: rgb(116,124,142);
    font-size: 15px;
    overflow-y: scroll;height: 120px;

} */

/* nav li{height:200px; width:18%;}
nav li{overflow:hidden; overflow-y:scroll;} */
