.restaurant-list-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.restaurant-list {
  display: flex;
  justify-content: center;
  width: 60vw;
  align-items: center;
  float: left;
  list-style: none;

}

/* .restaurant-scroll li{
  width: 25vw;
} */

.restaurant-list ul{
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-flow: row wrap;
  overflow-y: scroll;height: 40vh;
  background-color: orange;
  justify-content: space-around;
}

.restaurant-item {
  width: 20vw;
  display: flex;
  flex-direction: row;
}

.restaurant-item img{
  height: 12vh;
  width: 9vw;
}

.restaurant-item p {
  margin-left: 10px;
}

.restaurant-button {
  display: flex;
  justify-content: center;
}

.restaurant-button button {
  width: 30vw;
  height: 8vh;
  background-color: orange;
  color: white;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 20px;
  margin: 5vh;
}

.restaurant-button button:hover{
  color: orange;
  background-color: white;
}
