.sign-up-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 45vw;
  margin-bottom: 8vh;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.sign-up-form form input{
    width: 30vw;
    text-align-last:center;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.sign-up-form form select{
    width: 30vw;
    text-align-last:center;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.sign-up-form button {
  width: 30vw;
  height: 8vh;
  background-color: orange;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.sign-up-form button:hover{
  color: orange;
  background-color: white;
}
